<!DOCTYPE html>
<html>
<title>Golf Ocean</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body, html {
  height: 100%;
  font-family: "Raleway", sans-serif;
}

.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url('/static/images/golfocean.png');
  min-height: 75%;
}

.menu {
  display: none;
}
</style>
<body>

<!-- Links (sit on top) -->
<div class="w3-top">
  <div class="w3-row w3-padding w3-transparent w3-text-sand">
    <div class="w3-col s3">
      <a href="#" class="w3-button w3-block w3-transparent">HOME</a>
    </div>
    <div class="w3-col s3">
      <a href="/gps" class="w3-button w3-block w3-transparent">GPS</a>
    </div>
    <div class="w3-col s3">
      <a href="#" class="w3-button w3-block w3-transparent">NFL</a>
    </div>
    <div class="w3-col s3">
      <a href="#" class="w3-button w3-block w3-transparent">CatRants</a>
    </div>
    <div class="w3-col s3">
      <a href="mailto:ahpatel9@icloud.com" class="w3-button w3-block w3-transparent">Say Hi</a>
    </div>
  </div>
</div>

<!-- Header with image -->
<header class="bgimg w3-display-container w3-sepia-min w3-text-sand" id="home">
  <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top">Golf Ocean</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <p class="w3-large w3-center">by Fran The Cat</p>
  </div>
</header>

<!-- Add a background color and large text to the whole page -->
<div class="w3-deep-purple w3-sepia w3-large">

<!-- About Container -->
<div class="w3-container" id="about">
  <div class="w3-content" style="max-width:700px">
    <img src="/static/images/catnap.JPG" style="width:100%;max-width:1000px" class="w3-margin-top">

    <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">meow.</span></h5>
    <p>my name is fran and i am a the cat. as you can see, i'm well read and have a diverse stock portfolio. i currently live with a doofus who thinks my name is miss marbles. i spend most of my time napping or destroying premium qualtity titleist golf balls. let's be real, titleist golf balls spend most of their time at the bottom of lakes, i'm doing them a favor. i also enjoy watching the patriots lose. say hi, i love hearing from my frans. i mean fans.</p>

    <img src="/static/images/catpat.JPG" style="width:100%;max-width:1000px" class="w3-margin-top">
  </div>
</div>

<!-- End page content -->
</div>

<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-48 w3-large">
  <p>if there were anything important to put all the way down here then it wouldnt be all the way down here now wouldnt it? daphod.</p>
</footer>

</body>
</html>
