<!-- https://stackoverflow.com/questions/52644035/how-to-show-a-pandas-dataframe-into-a-existing-flask-html-table -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="http://cdn.datatables.net/plug-ins/1.10.12/api/sum().js"></script>
    <script src="/static/js/utsa.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='utsa.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>UTSA Self Scout</title>
</head>
<body>
    <div class="w3-display-topleft w3-padding-large w3-xlarge">
        <a href="/utsa">
            <img src="/static/images/rr.png" width="100px" height="60px">
        </a>
    </div>
    <div class="w3-display-topright w3-padding-large w3-xlarge">
        <a href="/" class='button button-primary'>Main</a>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class='container'>
        <h3 class='center'>Self Scout</h3>
        <h6 class='center'>Data file Upload and Game filter will go here...</h6>
        <br>
        <h5 class='center'>Summary - R: {{ summary[0] }} ({{ summary[2] }} %) - P: {{ summary[1] }} ({{ summary[3] }} %)</h5>
            {{ tables[0] | safe }}

        <br>

        <h5 class='center'>Overall/Game RP by Formation</h5>
            {{ tables[1] | safe }}

        <br>

        <h5 class='center'>Overall/Game RP by Down and Distance (Click row to see details)</h5>
    <table id="downs" border="1" class="dataTable dataframe data">
            <thead>
            <tr style="text-align: right;">
              <th>Down</th>
              <th>Yd</th>
              <th>R</th>
              <th>P</th>
              <th>R%</th>
              <th>P%</th>
            </tr>
          </thead>
        <tbody>
            {% for d in down.keys() %}
            <tr>
                <td>{{ d[0] }}</td>
                <td>{{ d[1] }}</td>
                <td>{{ down[d]['R'] }}</td>
                <td>{{ down[d]['P'] }}</td>
                <td>{{ down[d]['R%'] }}</td>
                <td>{{ down[d]['P%'] }}</td>
            </tr>
            <tr>
                <td colspan="6">
                <p>(Click to Collapse)
                    <br>
                    {% for e in expand[(d[0] | string )+"_"+d[1]] %}
                        <br>
                        {{ e[0] }}
                    {% endfor %}
                </p>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</body>
</html>