{% extends "base.html" %}
{% block content %}
<div class='container'>
    <h1 class="center">{{ year }} Week {{ week }}</h1>
    <div class='center'>
        <form action="/update_week/{{ year }}/{{ week }}" method="post">
            <button class="button">Live Refresh</button>
        </form>
    </div>
    <div class="center">
        {% for game in games: %}
            <br><a class="button button-primary" href="/match/{{ game['id'] }}">{{ game['short'] }}</a>
        {% endfor %}
    </div>
</div>
{% endblock %}